:host {
  --c-button-border-radius: 4px;
  --c-button-height: 44px;
  --c-button-min-width: 88px;
  --c-button-padding: 0 16px;
  --c-button-font-size: 16px;
  --c-button-icon-size: 24px;

  border-radius: var(--c-button-border-radius);
  display: inline-flex;
  overflow: hidden;
  transform: translateZ(0); // Safari border-radius fix
  transition: background-color 0.3s ease-in-out;
}

:host(.grouped),
:host(.no-radius) {
  --c-button-border-radius: 0;
}

:host(:host:not(.description)) {
  height: var(--c-button-height);
}

:host(.description) {
  height: 'auto';
}

:host {
  ::slotted(svg) {
    fill: var(--c-button-loader-color);
  }
}

:host([disabled]) {
  pointer-events: none;
}

// ---- default --------------------------------------------------------------
:host {
  --c-button-background: var(--c-primary-600);
  --c-button-text: var(--c-white);

  --c-button-loader-color: var(--c-button-text);
  --c-button-outline: var(--c-button-background);

  background-color: var(--c-button-background);
  color: var(--c-button-text);
}

:host(:host:hover) {
  --c-button-hover: var(--c-primary-400);

  background-color: var(--c-button-hover);
}

:host([disabled]) {
  --c-button-disabled-background: var(--c-tertiary-100);
  --c-button-disabled-text: var(--c-tertiary-600);

  background-color: var(--c-button-disabled-background);
  color: var(--c-button-disabled-text);
}

:host([inverted]) {
  --c-button-inverted-background: var(--c-white);
  --c-button-inverted-text: var(--c-primary-600);

  --c-button-outline: var(--c-button-inverted-background);

  background-color: var(--c-button-inverted-background);
  color: var(--c-button-inverted-text);
}

:host([inverted]:hover) {
  --c-button-inverted-hover: var(--c-primary-200);

  background-color: var(--c-button-inverted-hover);
}

:host([inverted][disabled]) {
  --c-button-inverted-disabled-background: var(--c-button-disabled-background);
  --c-button-inverted-disabled-text: var(--c-tertiary-500);

  background-color: var(--c-button-inverted-disabled-background);
  color: var(--c-button-inverted-disabled-text);
}

// ---- danger ----------------------------------------------------------------

:host([danger]) {
  --c-button-danger-text: var(--c-white);
  --c-button-danger-background: var(--c-error-600);
  --c-button-danger-loader-color: var(--c-button-danger-text);

  --c-button-loader-color: var(--c-button-danger-loader-color);
  --c-button-outline: var(--c-button-danger-background);

  background-color: var(--c-button-danger-background);
  color: var(--c-button-danger-text);
}

:host([danger]:hover) {
  --c-button-danger-hover: var(--c-error-400);

  background-color: var(--c-button-danger-hover);
}

:host([danger][disabled]) {
  --c-button-danger-disabled-background: var(--c-button-disabled-background);
  --c-button-danger-disabled-text: var(--c-button-disabled-text);

  background-color: var(--c-button-danger-disabled-background);
  color: var(--c-button-danger-disabled-text);
}

:host([danger][inverted]) {
  --c-button-danger-inverted-text: var(--c-error-600);
  --c-button-danger-inverted-background: var(--c-white);

  --c-button-outline: var(--c-button-danger-inverted-background);

  background-color: var(--c-button-danger-inverted-background);
  color: var(--c-button-danger-inverted-text);
}

:host([danger][inverted]:hover) {
  --c-button-danger-inverted-hover: var(--c-error-100);

  background-color: var(--c-button-danger-inverted-hover);
}

:host([danger][inverted][disabled]) {
  --c-button-danger-inverted-disabled-background: var(--c-button-disabled-background);
  --c-button-danger-inverted-disabled-text: var(--c-button-disabled-text);

  background-color: var(--c-button-danger-inverted-disabled-background);
  color: var(--c-button-danger-inverted-disabled-text);
}

// ---- ghost ----------------------------------------------------------------

:host([ghost]) {
  --c-button-ghost-background: var(--c-primary-200);
  --c-button-ghost-text: var(--c-primary-600);
  --c-button-ghost-loader-color: var(--c-button-ghost-text);

  --c-button-loader-color: var(--c-button-ghost-loader-color);
  --c-button-outline: var(--c-button-ghost-text);

  background-color: var(--c-button-ghost-background);
  color: var(--c-button-ghost-text);
}

:host([ghost]:hover) {
  --c-button-ghost-hover: var(--c-primary-100);

  background-color: var(--c-button-ghost-hover);
}

:host([ghost][disabled]) {
  --c-button-ghost-disabled-background: var(--c-button-disabled-background);
  --c-button-ghost-disabled-text: var(--c-button-disabled-text);

  background-color: var(--c-button-ghost-disabled-background);
  color: var(--c-button-ghost-disabled-text);
}

:host([ghost][inverted]) {
  --c-button-ghost-inverted-background: rgba(var(--c-white-rgb), 0.2);
  --c-button-ghost-inverted-text: var(--c-white);

  --c-button-outline: var(--c-button-ghost-inverted-text);

  background-color: var(--c-button-ghost-inverted-background);
  color: var(--c-button-ghost-inverted-text);
}

:host([ghost][inverted]:hover) {
  --c-button-ghost-inverted-hover: rgba(var(--c-white-rgb), 0.3);

  background-color: var(--c-button-ghost-inverted-hover);
}

:host([ghost][inverted][disabled]) {
  --c-button-ghost-inverted-disabled-background: rgba(var(--c-white-rgb), 0.05);
  --c-button-ghost-inverted-disabled-text: var(--c-tertiary-400);

  background-color: var(--c-button-ghost-inverted-disabled-background);
  color: var(--c-button-ghost-inverted-disabled-text);
}

// ---- text ----------------------------------------------------------------

:host([text]) {
  --c-button-text-background: var(--c-transparent);
  --c-button-text-text: var(--c-primary-600);
  --c-button-text-loader-color: var(--c-button-text-text);

  --c-button-loader-color: var(--c-button-text-loader-color);
  --c-button-outline: var(--c-button-text-text);

  background-color: var(--c-button-text-background);
  color: var(--c-button-text-text);
}

:host([text]:hover) {
  --c-button-text-hover: var(--c-primary-100);

  background-color: var(--c-button-text-hover);
}

:host([text][disabled]) {
  --c-button-text-disabled-background: var(--c-transparent);
  --c-button-text-disabled-text: var(--c-tertiary-500);

  background-color: var(--c-button-text-disabled-background);
  color: var(--c-button-text-disabled-text);
}

:host([text][inverted]) {
  --c-button-text-inverted-background: var(--c-transparent);
  --c-button-text-inverted-text: var(--c-white);

  --c-button-outline: var(--c-button-text-inverted-text);

  background-color: var(--c-button-text-inverted-background);
  color: var(--c-button-text-inverted-text);
}

:host([text][inverted]:hover) {
  --c-button-text-inverted-hover: rgba(var(--c-white-rgb), 0.3);

  background-color: var(--c-button-text-inverted-hover);
}

:host([text][inverted][disabled]) {
  --c-button-text-inverted-disabled-background: var(--c-transparent);
  --c-button-text-inverted-disabled-text: var(--c-tertiary-400);

  background-color: var(--c-button-text-inverted-disabled-background);
  color: var(--c-button-text-inverted-disabled-text);
}

// ---- outlined ----------------------------------------------------------------

:host([outlined]) {
  --c-button-outlined-text: var(--c-primary-600);
  --c-button-outlined-border: var(--c-button-outlined-text);
  --c-button-outlined-background: var(--c-transparent);
  --c-button-outlined-loader-color: var(--c-button-outlined-text);

  --c-button-loader-color: var(--c-button-outlined-loader-color);
  --outline-color: var(--c-button-outlined-border);
  --c-button-outline: var(--c-button-outlined-border);

  background-color: var(--c-button-outlined-background);
  color: var(--c-button-outlined-text);
  box-shadow: inset 0 0 0 2px var(--outline-color);
}

:host([outlined]:hover) {
  --c-button-outlined-hover: var(--c-primary-200);

  background-color: var(--c-button-outlined-hover);
}

:host([outlined][disabled]) {
  --c-button-outlined-disabled-text: var(--c-tertiary-500);
  --c-button-outlined-disabled-background: var(--c-button-outlined-background);
  --c-button-outlined-disabled-border: var(--c-tertiary-400);

  --outline-color: var(--c-button-outlined-disabled-border);

  background-color: var(--c-button-outlined-disabled-background);
  color: var(--c-button-outlined-disabled-text);
}

:host([outlined][inverted]) {
  --c-button-outlined-inverted-text: var(--c-white);
  --c-button-outlined-inverted-border: var(--c-button-outlined-inverted-text);
  --c-button-outlined-inverted-background: var(--c-button-outlined-background);

  --outline-color: var(--c-button-outlined-inverted-border);
  --c-button-outline: var(--c-button-outlined-inverted-border);

  background-color: var(--c-button-outlined-inverted-background);
  color: var(--c-button-outlined-inverted-text);
}

:host([outlined][inverted]:hover) {
  --c-button-outlined-inverted-hover: rgba(var(--c-white-rgb), 0.3);

  background-color: var(--c-button-outlined-inverted-hover);
}

:host([outlined][inverted][disabled]) {
  --c-button-outlined-inverted-disabled-border: var(--c-tertiary-400);
  --c-button-outlined-inverted-disabled-text: var(--c-tertiary-400);
  --c-button-outlined-inverted-disabled-background: var(--c-button-outlined-background);

  --outline-color: var(--c-button-outlined-inverted-disabled-border);

  background-color: var(--c-button-outlined-inverted-disabled-background);
  color: var(--c-button-outlined-inverted-disabled-text);
}

// ==========================================================================

// :host(.c-button--active) {
//   --c-button-text: var(--c-white);
// }

:host(:host:focus:not(:host:focus-visible)) {
  outline: none;
}

:host(:host:focus-visible) {
  outline: 2px var(--c-button-outline) solid;
  outline-offset: 2px;
  z-index: 1;
}

:host([fit]) {
  width: 100%;
}

:host(.small) {
  --c-button-height: 28px;
}

:host(.large) {
  --c-button-height: 52px;
}

::slotted([slot='icon']) {
  font-size: var(--c-button-icon-size);
}

::slotted(svg) {
  fill: var(--c-button-loader-color);
}

a {
  text-decoration: none;
}

button,
a {
  background-color: transparent;
  color: currentColor;
  font-family: var(--c-font-family);
  display: inline-grid;
  border: none;
  padding: 0;
  position: relative;
  margin: 0;
  width: 100%;
  cursor: pointer;
  transition:
    background-color 0.3s cubic-bezier(0.25, 0.8, 0.5, 1),
    color 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

  &:disabled {
    cursor: default;
  }
}

@media (max-width: 767px) {
  .full-width-mobile {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;

    .c-button-padding {
      padding: 24px 38px;
    }
  }

  .full-width {
    flex-grow: 1 !important;
  }
}

.c-button {
  $this: &;

  border-radius: var(--c-button-border-radius);
  position: relative;
  box-shadow: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transition: background-color 0.3s;
  color: currentColor;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: var(--c-button-font-size);
  font-weight: 700;
  line-height: 18px;
  user-select: none;
  min-width: var(--c-button-min-width);
  white-space: nowrap;

  * {
    pointer-events: none;
  }

  svg {
    fill: var(--c-button-loader-color);
    height: var(--c-button-icon-size);
    width: var(--c-button-icon-size);

    &.icon-by-path {
      margin-right: 8px;
    }

    &.button-icon {
      margin-right: 16px;
      font-size: 10px;
      margin-left: -8px;
      margin-bottom: -2px;
    }
  }

  &--small {
    --c-button-padding: 0 12px;
    --c-button-font-size: 14px;
    --c-button-icon-size: 20px;
  }

  &--large {
    --c-button-padding: 0 24px;
    --c-button-font-size: 18px;
  }

  &--no-radius {
    --c-button-border-radius: 0;
  }

  &--fitted {
    width: 100%;
  }

  // &.grouped {
  //   border-radius: 0;
  //   white-space: nowrap;
  //   border: none;
  //   box-shadow: none;
  //   flex-grow: 1;
  // }

  &--description {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

    // .c-button__content {
    //   height: var(--c-button-height);
    // }
  }

  &__content {
    display: flex;
    gap: 8px;
    height: var(--c-button-height);
    align-items: center;
    justify-content: center;
    padding: var(--c-button-padding);
  }

  &__description {
    font-weight: 400;
    font-size: 12px;
    padding: 0 12px 12px;

    &--loading {
      opacity: 0.8;
    }
  }
}

.spinner__circle {
  animation: 2s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: var(--c-button-loader-color);
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

.fit {
  width: 100%;
}

.hide-text {
  color: transparent !important;

  ::slotted([slot='icon']) {
    opacity: 0;
  }

  svg {
    fill: transparent !important;
  }

  .outlined.c-button svg {
    fill: transparent !important;
  }
}

.spinner_wrapper {
  width: 100%;
  position: absolute;
  height: var(--c-button-height);
  display: grid;
  place-content: center;

  &.dense_spinner {
    padding-top: 7px;

    // .spinner {
    //   max-width: 24px;
    // }
  }
}

// .spinner {
//   animation: 3s linear infinite svg-animation;
//   max-width: 30px;
//   position: relative;
//   height: calc(var(--c-button-height) - 12px);
// }

// svg.spinner {
//   fill: var(--c-button-loader-color);
//   height: var(--c-button-icon-size);
//   width: var(--c-button-icon-size);

//   circle {
//       fill: transparent;
//       stroke: var(--c-button-loader-color);
//       stroke-width: 2;
//       stroke-linecap: round;
//       stroke-dasharray: calc(3.14 * var(--c-button-icon-size));
//       transform-origin: calc(0.5px * var(--c-button-icon-size)) calc(0.5px * var(--c-button-icon-size)) 0;

//       animation: spinner 2.5s linear infinite;
//   }
// }

// @keyframes svg-animation {
//   0% {
//     transform: rotateZ(0deg);
//   }
//   100% {
//     transform: rotateZ(360deg);
//   }
// }

// @keyframes circle-animation {
//   0%,
//   25% {
//     stroke-dashoffset: 280;
//     transform: rotate(0);
//   }

//   50%,
//   75% {
//     stroke-dashoffset: 75;
//     transform: rotate(45deg);
//   }

//   100% {
//     stroke-dashoffset: 280;
//     transform: rotate(360deg);
//   }
// }

// @keyframes spinner {
//   0% {
//     transform: rotate(0deg);
//     stroke-dashoffset: calc(0.66 * var(--c-button-icon-size));
//   }

//   50% {
//     transform: rotate(720deg);
//     stroke-dashoffset: calc(3.14 * var(--c-button-icon-size));
//   }

//   100% {
//     transform: rotate(1080deg);
//     stroke-dashoffset: calc(0.66 * var(--c-button-icon-size));
//   }
// }
