:host {
  /**
   * @prop --c-steps-line-color: Steps line color
   * @prop --c-steps-line-complete-color: Steps line complete color
   */
  --c-steps-line-color: var(--c-tertiary-500);
  --c-steps-line-complete-color: var(--c-primary-600);

  width: 100%;
  display: grid;
  gap: 8px;
  border-radius: 6px;
}

@supports selector(:focus-within) {
  :host(:focus) {
    outline: none;
  }
}

:host(:focus-within) {
  outline: 2px var(--c-steps-line-complete-color) solid;
  outline-offset: 2px;
}

.c-steps {
  --c-steps-divider-width: calc(100% + 160px);
  --c-steps-divider-margin: 10px -80px 0;

  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  slot {
    display: flex;
    justify-items: space-between;
    width: 100%;
  }

  ::slotted(.divider) {
    height: 2px;
    flex: 1;
    background-color: var(--c-steps-line-color);
    width: var(--c-steps-divider-width);
    margin: var(--c-steps-divider-margin);
  }

  ::slotted(.divider.complete) {
    background-color: var(--c-steps-line-complete-color);
    height: 4px;
    margin-top: 9px;
  }

  &.mobile {
    --c-steps-divider-width: calc(100% + 11px);
    --c-steps-divider-margin: 10px -10px 0;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
