:host {
  --c-login-button-background: var(--c-white);
  --c-login-button-border: var(--c-primary-200);
  --c-login-button-outline: var(--c-primary-600);
  --c-login-button-text: var(--c-text-system);
  --c-login-button-title: var(--c-tertiary-100);
}

a {
  background-color: var(--c-login-button-background);
  border-radius: 4px;
  border: 1px var(--c-login-button-border) solid;
  color: var(--c-login-button-text);
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-height: 168px;
  outline: 1px transparent solid;
  place-content: center;
  text-align: center;
  text-decoration: none;

  img {
    max-height: 120px;
    max-width: 200px;
    padding: 8px 24px;
    place-self: center;
  }

  div {
    background-color: var(--c-login-button-title);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 -1px 0 0 var(--c-login-button-border);
    font-size: 14px;
    padding: 4px;
  }

  &:hover {
    border-color: var(--c-login-button-outline);
    outline: 1px var(--c-login-button-outline) solid;
  }

  &:focus {
    outline: 2px var(--c-login-button-outline) solid;
    outline-offset: 2px;
  }

  @supports selector(:focus-visible) {
    &:focus {
      outline: none;
    }
  }

  &:focus-visible {
    outline: 2px var(--c-login-button-outline) solid;
    outline-offset: 2px;
  }
}
