:host {
  /**
   * @prop --c-switch-background-color: Background color
   * @prop --c-switch-border-color: Border color
   * @prop --c-switch-handle-color: Handle color
   */
  --c-switch-background-color: var(--c-transparent);
  --c-switch-border-color: var(--c-tertiary-600);
  --c-switch-handle-color: var(--c-tertiary-600);

  /**
   * @prop --c-switch-disabled-background-color: Disabled background color
   * @prop --c-switch-disabled-border-color: Disabled border color
   * @prop --c-switch-disabled-handle-color: Disabled handle color
   */
  --c-switch-disabled-border-color: var(--c-transparent);
  --c-switch-disabled-handle-color: var(--c-tertiary-500);
  --c-switch-disabled-slider-color: var(--c-tertiary-200);

  /**
   * @prop --c-switch-active-background-color: Active background color
   * @prop --c-switch-active-border-color: Active border color
   * @prop --c-switch-active-handle-color: Active handle color
   */
  --c-switch-active-border-color: var(--c-primary-600);
  --c-switch-active-handle-color: var(--c-white);
  --c-switch-active-slider-color: var(--c-primary-600);

  /**
   * @prop --c-switch-active-disabled-background-color: Disabled active background color
   * @prop --c-switch-active-disabled-border-color: Disabled active border color
   * @prop --c-switch-active-disabled-handle-color: Disabled active handle color
   */
  --c-switch-active-disabled-border-color: var(--c-tertiary-400);
  --c-switch-active-disabled-handle-color: var(--c-white);
  --c-switch-active-disabled-slider-color: var(--c-tertiary-400);

  display: inline-block;
}

.c-switch {

  --c-switch-handle-margin: 5px;
  --c-switch-pointer: pointer;
  --c-switch-height: 22px;
  --c-switch-width: 44px;
  --c-switch-handle-size: calc(var(--c-switch-height) - 2 * var(--c-switch-handle-margin));
  --c-switch-handle-active-position: calc(
    var(--c-switch-width) - var(--c-switch-handle-size) - 2 * var(--c-switch-handle-margin)
  );

  $this: &;

  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  display: inline-grid;
  height: var(--c-switch-height);
  position: relative;

  grid-template-columns: 1fr;
  gap: 12px;
  align-items: center;

  &--disabled {
    --c-switch-pointer: default;
    --c-switch-handle-color: var(--c-switch-disabled-handle-color);
    --c-switch-background-color: var(--c-switch-disabled-slider-color);
    --c-switch-border-color: var(--c-switch-disabled-border-color);

    --c-error-600: var(--c-tertiary-400);

    color: var(--c-tertiary-500);
  }

  &--label {
    grid-template-columns: var(--c-switch-width) auto;
  }

  &__label {
    span.required {
      color: var(--c-error-600);
    }
  }

  &__input {
    height: var(--c-switch-height);
    position: relative;
    width: var(--c-switch-width);
    align-self: start;
  }

  &__slider {
    background-color: var(--c-switch-background-color);
    border-radius: var(--c-switch-height);
    box-shadow: inset 0 0 0 2px var(--c-switch-border-color);
    bottom: 0;
    cursor: var(--c-switch-pointer);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 50% 50%;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    &::before {
      background-color: var(--c-switch-handle-color);
      border-radius: 50%;
      bottom: var(--c-switch-handle-margin);
      content: '';
      height: var(--c-switch-handle-size);
      left: var(--c-switch-handle-margin);
      position: absolute;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      width: var(--c-switch-handle-size);
    }
  }

  input {
    height: 0;
    opacity: 0;
    width: 0;

    &:checked {
      + {
        #{$this} {
          &__slider {
            --c-switch-handle-color: var(--c-switch-active-handle-color);
            --c-switch-background-color: var(--c-switch-active-slider-color);
            --c-switch-border-color: var(---c-switch-active-border-color);

            &::before {
              transform: translateX(var(--c-switch-handle-active-position));
            }

            &--disabled {
              --c-switch-handle-color: var(--c-switch-active-disabled-handle-color);
              --c-switch-background-color: var(--c-switch-active-disabled-slider-color);
              --c-switch-border-color: var(--c-switch-active-disabled-border-color);
            }
          }
        }
      }
    }

    &:focus {
      + {
        #{$this} {
          &__slider {
            outline: none;
          }
        }
      }
    }
    &:focus-visible {
      + {
        #{$this} {
          &__slider {
            outline: 2px var(--c-primary-600) solid;
            outline-offset: 2px;
          }
        }
      }
    }
  }
}
