:host {
  display: inline-block;
}

.c-switch {
  --c-switch-border-color: var(--c-tertiary-600);
  --c-switch-thumb-color: var(--c-tertiary-600);
  --c-switch-slider-color: var(--c-transparent);

  --c-switch-thumb-margin: 5px;
  --c-switch-pointer: pointer;
  --c-switch-height: 22px;
  --c-switch-width: 44px;
  --c-switch-thumb-size: calc(var(--c-switch-height) - 2 * var(--c-switch-thumb-margin));
  --c-switch-thumb-active-position: calc(
    var(--c-switch-width) - var(--c-switch-thumb-size) - 2 * var(--c-switch-thumb-margin)
  );

  $this: &;

  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  display: inline-grid;
  height: var(--c-switch-height);
  position: relative;

  grid-template-columns: 1fr;
  gap: 12px;
  align-items: center;

  &--disabled {
    --c-switch-pointer: default;
    --c-switch-thumb-color: var(--c-tertiary-500);
    --c-switch-slider-color: var(--c-tertiary-200);
    --c-switch-border-color: var(--c-transparent);

    --c-error-600: var(--c-tertiary-400);

    color: var(--c-tertiary-500);
  }

  &--label {
    grid-template-columns: var(--c-switch-width) auto;
  }

  &__label {
    span.required {
      color: var(--c-error-600);
    }
  }

  &__input {
    height: var(--c-switch-height);
    position: relative;
    width: var(--c-switch-width);
    align-self: start;
  }

  &__slider {
    background-color: var(--c-switch-slider-color);
    border-radius: var(--c-switch-height);
    box-shadow: inset 0 0 0 2px var(--c-switch-border-color);
    bottom: 0;
    cursor: var(--c-switch-pointer);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 50% 50%;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    &::before {
      background-color: var(--c-switch-thumb-color);
      border-radius: 50%;
      bottom: var(--c-switch-thumb-margin);
      content: '';
      height: var(--c-switch-thumb-size);
      left: var(--c-switch-thumb-margin);
      position: absolute;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      width: var(--c-switch-thumb-size);
    }
  }

  input {
    height: 0;
    opacity: 0;
    width: 0;

    &:checked {
      + {
        #{$this} {
          &__slider {
            --c-switch-thumb-color: var(--c-white);
            --c-switch-slider-color: var(--c-primary-600);
            --c-switch-border-color: var(--c-primary-600);

            &::before {
              transform: translateX(var(--c-switch-thumb-active-position));
            }

            &--disabled {
              --c-switch-thumb-color: var(--c-white);
              --c-switch-slider-color: var(--c-tertiary-400);
              --c-switch-border-color: var(--c-tertiary-400);
            }
          }
        }
      }
    }

    &:focus {
      + {
        #{$this} {
          &__slider {
            outline: none;
          }
        }
      }
    }
    &:focus-visible {
      + {
        #{$this} {
          &__slider {
            outline: 2px var(--c-primary-600) solid;
            outline-offset: 2px;
          }
        }
      }
    }
  }
}
