:host {
  /**
   * @prop --c-card-gap: Card column gap / padding
   * @prop --c-card-background-color: Card background color
   */
  --_c-card-gap: var(--c-card-gap, clamp(1rem, 2vw, 1.5rem));
  --_c-card-background-color: var(--c-card-background-color, var(--c-white));

  display: block;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 10px 20px, rgba(0, 0, 0, 0.2) 0 5px 5px;
  padding-block: var(--_c-card-gap);
  position: relative;
  background-color: var(--_c-card-background-color);

  article {
    display: flex;
    flex-direction: column;
    gap: var(--_c-card-gap);
  }
}

::slotted(c-loader) {
  border-radius: 6px;
}

.c-card {
  &__fullscreen-toggle {
    position: absolute;
    right: calc(var(--_c-card-gap) - 8px);
    top: calc(var(--_c-card-gap) - 8px);
  }
}
