:host {
  /**
   * @prop --c-card-gap: Card column gap / padding
   * @prop --c-card-background-color: Card background color
   */
  --c-card-gap: clamp(1rem, 2vw, 1.5rem);
  --c-card-background-color: var(--c-white);

  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 20%) 0px 5px 5px;
  display: flex;
  flex-direction: column;
  gap: var(--c-card-gap);
  padding-block: var(--c-card-gap);
  position: relative;
  background-color: var(--c-card-background-color);
}

::slotted(c-loader) {
  border-radius: 6px;
}

.c-card {
  &__fullscreen-toggle {
    position: absolute;
    right: calc(var(--c-card-gap) - 8px);
    top: calc(var(--c-card-gap) - 8px);
  }
}
