:host {
  display: block;
}

.c-status {
  --c-status-bg: var(--c-primary-200);
  --c-status-info: var(--c-info-800);
  --c-status-info-bg: var(--c-info-200);
  --c-status-warning: var(--c-warning-800);
  --c-status-warning-bg: var(--c-warning-200);
  --c-status-error: var(--c-error-800);
  --c-status-error-bg: var(--c-error-200);
  --c-status-success: var(--c-success-800);
  --c-status-success-bg: var(--c-success-200);

  display: inline-flex;
  min-height: 24px;
  min-width: 88px;
  padding: 4px 16px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--c-primary-800);
  background-color: var(--c-status-bg);
  position: relative;
  box-shadow: inset 0 0 0 1px currentColor;
  overflow: hidden;
  line-height: 1;
  font-size: 14px;

  &--info {
    color: var(--c-status-info);
    background-color: var(--c-status-info-bg);
  }

  &--warning {
    color: var(--c-status-warning);
    background-color: var(--c-status-warning-bg);
  }

  &--error {
    color: var(--c-status-error);
    background-color: var(--c-status-error-bg);
  }

  &--success {
    color: var(--c-status-success);
    background-color: var(--c-status-success-bg);
  }
}
