:host {
  /**
   * @prop --c-navigation-button-color: Burger menu color
   */
  --_c-navigation-button-color: var(--c-navigation-button-color, var(--c-text-system));

  display: block;
  margin-right: 0;
  padding: 14px 12px 10px;
  cursor: pointer;
  user-select: none;

  line {
    stroke: var(--_c-navigation-button-color);
  }
}
