@import '../../../src/styles/scss/theme';

$csc-cyan: #006778;
$csc-magenta: #830051;
$csc-grey: #515151;
$csc-dark-blue: #002f5f;
$csc-blue: #117bc2;
$csc-mid-blue: #d0dced;
$csc-light-blue: #f8f9fc;
$csc-light-blue-old: #eef2f8;
$csc-navi-bg-blue: #005d8f;
$csc-lime: #82bf37;
$csc-light-green: #e2efd4;
$csc-white: #fff;
$csc-quote-green: #82bf37;

$warning: #ffbb00;
$danger: #d40c0c;
$dark: #181a1b;

$font-family-sans-serif: 'museo-sans', sans-serif;
$theme-colors: (
  'primary': $c-primary-600,
  'secondary': $c-secondary-600,
  'success': $c-success-600,
  'info': $c-info-600,
  'warning': $c-warning-600,
  'danger': $c-error-600,
  'light': $c-link-100,
  'dark': $c-text-dark,
);

$link-color: $csc-cyan;
$link-hover-color: #004b58;

@import '~bootstrap/scss/bootstrap.scss';

@import '../../../src/styles/css/typography.css';
@import '../../../src/styles/css/theme.css';

/* You can add global styles to this file, and also import other style files */
html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'museo-sans', sans-serif;
  background-color: #d7e8ea;
}

.example {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 48px;
}

.monospace {
  font-family: 'IBM Plex Mono', monospace;
}

.documentation-card {
  background: #fff;
  padding: 48px;
  padding-top: 40px;
  margin: 24px;
  border-radius: 6px;
}

c-checkbox {
  --c-checkbox-color: var(--c-secondary-600);
  --c-checkbox-background-color-hover: rgba(var(--c-secondary-rgb), 0.1);
}

c-loader {
  --c-loader-color: var(--c-secondary-600);
}

c-link {
  --c-link-color: var(--c-accent-700);
}

c-progress-bar {
  --c-progress-bar-color: var(--c-secondary-600);
  --c-progress-bar-background-color: var(--c-success-200);
  --c-progress-bar-border-width: 18px;
  --c-progress-bar-height: 86px;
}

// c-spinner {
//   --c-spinner-color: red;
// }


c-radio-group {
  --c-radio-group-color: var(--c-secondary-600);
  --c-radio-group-background-color-hover: rgba(var(--c-secondary-rgb), 0.1);
}

c-side-navigation {
  --c-side-navigation-background-color: var(--c-secondary-600);
  --c-side-navigation-overlay-color: rgba(var(--c-secondary-rgb), 0.5);
}

c-side-navigation-item {
  --c-side-navigation-item-hover-background-color: var(--c-secondary-500);
  --c-side-navigation-item-active-background-color: var(--c-secondary-200);
  --c-side-navigation-item-active-text-color: var(--c-secondary-600);
}

c-sub-navigation-item {
  --c-sub-navigation-item-hover-background-color: var(--c-secondary-100);
  --c-sub-navigation-item-active-text-color: var(--c-secondary-600);
}

c-steps {
  --c-steps-line-complete-color: var(--c-secondary-600);
}

c-status {
  --c-status-background-color: var(--c-secondary-200);
  --c-status-info-text-color: var(--c-primary-800);
  --c-status-info-background-color: var(--c-primary-200);
  --c-status-warning-text-color: var(--c-link-800);
  --c-status-warning-background-color: var(--c-link-200);
  --c-status-error-text-color: var(--c-success-800);
  --c-status-error-background-color: var(--c-success-200);
  --c-status-success-text-color: var(--c-error-800);
  --c-status-success-background-color: var(--c-error-200);
}

c-main {
  --c-main-background: var(--c-secondary-200);
}

c-swiper {
  --c-swiper-background-color: var(--c-secondary-200);
  --c-swiper-hover-color: var(--c-secondary-100);
  --c-swiper-text-color: var(--c-secondary-600);
  --c-swiper-active-background-color: var(--c-secondary-600);
}

c-accordion-item {
  --c-accordion-item-text-color: var(--c-white);
  --c-accordion-item-outline-color: var(--c-secondary-600);
  --c-accordion-item-header-background-color: var(--c-secondary-600);
}

c-login-card {
  --c-login-card-overlay-color: var(--c-secondary-600);
}

c-login-card-title {
  --c-login-card-title-color: var(--c-secondary-600);
}

c-card {
  --c-card-background-color: var(--c-secondary-100);
}

c-card-title {
  --c-card-title-color: var(--c-secondary-600);
  --c-card-title-underline-color: var(--c-secondary-600);
}

c-button {
  // default
  --c-button-background-color: var(--c-secondary-600);
  --c-button-background-color-hover: var(--c-secondary-400);

  // ghost
  --c-button-ghost-background-color: var(--c-secondary-200);
  --c-button-ghost-text-color: var(--c-secondary-600);
  --c-button-ghost-background-color-hover: var(--c-secondary-100);

  // outlined
  --c-button-outlined-text-color: var(--c-secondary-600);
  --c-button-outlined-background-color-hover: var(--c-secondary-200);

  --c-button-outlined-inverted-text-color: var(--c-secondary-400);
  --c-button-outlined-inverted-background-color-hover: var(--c-secondary-600);

  // danger
  --c-button-danger-background-color: var(--c-info-600);
  --c-button-danger-background-color-hover: var(--c-info-400);

  --c-button-danger-inverted-background-color: var(--c-link-600);
  --c-button-danger-inverted-background-color-hover: var(--c-link-700);
  --c-button-danger-inverted-text-color: var(--c-info-600);

  // text
  --c-button-text-text-color: var(--c-secondary-600);
  --c-button-text-background-color-hover: var(--c-secondary-200);
}

c-switch {
  --c-switch-active-slider-color: var(--c-secondary-600);
  --c-switch-active-border-color: var(--c-secondary-600);
}

c-table {
  --c-table-border-color: var(--c-secondary-200);
  --c-table-header-color: var(--c-secondary-600);
  --c-table-row-background-mobile: rgba(var(--c-secondary-rgb), 0.05);
}

c-login-button {
  --c-login-button-border-color: var(--c-secondary-200);
  --c-login-button-outline-color: var(--c-secondary-600);
  --c-login-button-text-color: var(--c-secondary-800);
  --c-login-button-title-background-color: rgba(var(--c-secondary-rgb), 0.2);
}

// c-tag {
//   --c-tag-text-color: var(--c-secondary-600);
//   --c-tag-background-color-hover: rgba(var(--c-secondary-rgb), 0.1);
//   --c-tag-background-color-hover-active: var(--c-secondary-400);
// }

c-select ::slotted(c-tag) {
  --c-tag-text-color: var(--c-accent-600);
  --c-tag-background-color-hover: rgba(var(--c-accent-rgb), 0.1);
  --c-tag-background-color-hover-active: var(--c-accent-400);
}

c-tabs {
  --c-tabs-indicator-color: var(--c-secondary-600);
}

c-tab {
  --c-tab-background-color-hover: var(--c-secondary-100);
  --c-tab-text-color: var(--c-secondary-600);
}

c-tab-buttons {
  --c-tab-buttons-border-radius: 999px;
  --c-tab-buttons-active-background-color: var(--c-accent-600);
  --c-tab-buttons-active-background-color-hover: var(--c-accent-400);

  --c-tab-buttons-background-color-hover: var(--c-accent-200);
  --c-tab-buttons-text-color: var(--c-accent-600);
  --c-tab-buttons-border-color: var(--c-accent-600);
}

c-icon-button {
  --c-icon-button-border-radius: 4px;

  --c-icon-button-background-color: var(--c-secondary-600);
  --c-icon-button-background-color-hover: var(--c-secondary-400);

  --c-icon-button-badge-background-color: var(--c-success-600);

  --c-icon-button-ghost-background-color: rgba(var(--c-secondary-rgb), 0.2);
  --c-icon-button-ghost-text-color: var(--c-secondary-600);
  --c-icon-button-ghost-background-color-hover: rgba(var(--c-secondary-rgb), 0.3);

  --c-icon-button-text-text-color: var(--c-secondary-600);
  --c-icon-button-text-background-color-hover: var(--c-secondary-100);

  --c-icon-button-outlined-text-color: var(--c-secondary-600);
  --c-icon-button-outlined-background-color-hover: rgba(var(--c-secondary-rgb), 0.1);

  --c-icon-button-danger-background-color: var(--c-link-600);
  --c-icon-button-danger-background-color-hover: var(--c-link-400);
}

c-text-field {
  --c-text-field-active-color: var(--c-accent-600);
  --c-text-field-text-color: var(--c-accent-600);
  --c-text-field-background-color: var(--c-accent-100);
  --c-text-field-shadow-background-color: var(--c-accent-600);
  --c-text-field-shadow-text-color: var(--c-white);
  --c-text-field-shadow-active-color: var(--c-accent-300);
  --c-text-field-shadow-placeholder-color: var(--c-accent-100);
}

c-message {
  --c-message-error-color: var(--c-success-600);
  --c-message-hint-color: var(--c-info-600);
}

c-select {
  --c-select-active-color: var(--c-secondary-600);
  // --c-select-inactive-color: var(--c-tertiary-600);
  --c-select-background-color: var(--c-secondary-100);
  --c-select-text-color: var(--c-secondary-600);
  // --c-select-placeholder-color: var(--c-tertiary-500);
}
