:host {
  /**
   * @prop --c-tag-background-color: Tag background color
   * @prop --c-tag-border-color: Tag border color
   * @prop --c-tag-text-color: Tag text color
   * @prop --c-tag-text-color-active: Tag text color if active
   * @prop --c-tag-background-color-active:  Tag background color if active
   * @prop --c-tag-background-color-hover: Tag background color on hover
   * @prop --c-tag-background-color-hover-active: Tag background color on hover if active
   * @prop --c-tag-badge-background-color: Tag badge background color
   * @prop --c-tag-badge-text-color: Tag badge text color
   * @prop --c-tag-badge-background-color-active: Tag badge background color if active
   * @prop --c-tag-badge-text-color-active: Tag badge text color if active
   */
  --c-tag-background-color: var(--c-transparent);
  --c-tag-border-color: var(--c-tag-text-color);
  --c-tag-text-color: var(--c-primary-600);
  --c-tag-text-color-active: var(--c-white);
  --c-tag-background-color-active: var(--c-tag-text-color);
  --c-tag-background-color-hover: rgba(var(--c-primary-rgb), 0.1);
  --c-tag-background-color-hover-active: var(--c-primary-400);
  --c-tag-badge-background-color: var(--c-tag-background-color-active);
  --c-tag-badge-text-color: var(--c-tag-text-color-active);
  --c-tag-badge-background-color-active: var(--c-tag-text-color-active);
  --c-tag-badge-text-color-active: var(--c-tag-text-color);

  align-items: center;
  background: var(--c-tag-background-color);
  border-radius: 999px;
  box-shadow: inset 0px 0px 0px 1px var(--c-tag-border-color);
  color: var(--c-tag-text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  justify-content: center;
  line-height: 1.1;
  min-height: 28px;
  padding: 4px 12px;
  transition: background-color 0.2s ease;
  user-select: none;

  > .c-tag__badge {
    background-color: var(--c-tag-badge-background-color);
    border-radius: 999px;
    color: var(--c-tag-badge-text-color);
    display: inline-grid;
    font-size: 12px;
    height: 20px;
    line-height: 1;
    min-width: 20px;
    padding: 0 4px;
    place-content: center;

    &--active {
      background-color: var(--c-tag-badge-background-color-active);
      color: var(--c-tag-badge-text-color-active);
    }
  }

  c-icon-button {
    --c-icon-button-height: 20px;
    --c-icon-button-width: 20px;
    --c-icon-button-background-color: var(--c-transparent);
    --c-icon-button-text-color: var(--c-tag-text-color);
    --c-icon-button-background-hover: var(--c-tag-background-color-active);

    &:hover {
      --c-icon-button-text-color: var(--c-tag-text-color-active);
    }
  }
}

:host(:host:hover) {
  background-color: var(--c-tag-background-color-hover);
}

:host(.c-tag--badge) {
  padding-left: 4px;
}

:host(.c-tag--closeable) {
  padding-right: 4px;
}

:host(.c-tag--block) {
  flex-basis: 100%;
}

:host(.c-tag--fit) {
  flex-grow: 1;
}

:host(.c-tag--flat) {
  pointer-events: none;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  outline: 2px var(--c-tag-border-color) solid;
  outline-offset: 2px;
  z-index: 1;
}

:host(.c-tag--active) {
  background: var(--c-tag-background-color-active);
  color: var(--c-tag-text-color-active);
}

:host(.c-tag--active .c-tag__badge) {
  background: var(--c-tag-badge-background-color-active);
  color: var(--c-tag-badge-text-color-active);
}

:host(.c-tag--active:hover) {
  background: var(--c-tag-background-color-hover-active);
  box-shadow: none;
}

:host(.c-tag--active) c-icon-button {
  --c-icon-button-text-color: var(--c-tag-text-color-active);
  --c-icon-button-background-hover: var(--c-tag-background-color-active);
}
