:host {
  --c-tab-buttons-background-active: var(--c-primary-600);
  --c-tab-buttons-hover-active: var(--c-primary-400);
  --c-tab-buttons-text-active: var(--c-white);

  --c-tab-buttons-background: var(--c-white);
  --c-tab-buttons-hover: var(--c-primary-200);
  --c-tab-buttons-text: var(--c-primary-600);
  --c-tab-buttons-border: var(--c-primary-600);

  --c-tab-buttons-disabled-border: var(--c-tertiary-400);

  --c-tab-buttons-border-radius: 4px;

  ::slotted(c-button) {
    --c-button-background: var(--c-tab-buttons-background-active);
    --c-button-hover: var(--c-tab-buttons-hover-active);
    --c-button-text: var(--c-tab-buttons-text-active);

    --c-button-border-radius: 0;
    --c-button-min-width: auto;
    --c-button-padding: 0 8px;

    flex-grow: 1;
  }

  ::slotted(c-button[outlined]) {
    --c-button-outlined-background: var(--c-tab-buttons-background);
    --c-button-outlined-hover: var(--c-tab-buttons-hover);
    --c-button-outlined-text: var(--c-tab-buttons-text);
    --c-button-outlined-border: var(--c-tab-buttons-border);

    box-shadow: none;

    &::before,
    &::after {
      background-color: #fff;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: background-color 0.3s ease-in-out;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      background-color: var(--c-tab-button-background);
    }
  }

  ::slotted(c-button:first-child) {
    --c-button-border-radius: var(--c-tab-buttons-border-radius) 0 0 var(--c-tab-buttons-border-radius);
  }

  ::slotted(c-button:last-child) {
    --c-button-border-radius: 0 var(--c-tab-buttons-border-radius) var(--c-tab-buttons-border-radius) 0;
  }

  ::slotted(*) {
    flex-grow: 1;
  }

  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 0 2px var(--c-tab-buttons-border);
  margin: 2px;
  border-radius: var(--c-tab-buttons-border-radius);
  background-color: var(--c-tab-buttons-border);
  gap: 2px;
}

:host(.disabled) {
  --c-tab-buttons-border: var(--c-tab-buttons-disabled-border) !important;

  pointer-events: none;
}

:host(.c-tab-buttons) {
  ::slotted(c-button:focus) {
    outline: none;
  }

  ::slotted(c-button:focus-visible) {
    outline: 2px var(--c-tab-buttons-border) solid;
    outline-offset: 4px;
    z-index: 1;
  }
}
