.c-tab-buttons {
  --c-tab-buttons-border-color: var(--c-primary-600);
  --c-tab-buttons-border-radius: 4px;

  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 0 2px var(--c-tab-buttons-border-color);
  margin: 2px;
  border-radius: var(--c-tab-buttons-border-radius);
  background-color: var(--c-primary-600);
  gap: 2px;

  ::slotted(*) {
    flex-grow: 1;
  }

  &--disabled {
    --c-tab-buttons-border-color: var(--c-tertiary-200);
    pointer-events: none;
    background-color: var(--c-tertiary-200);
  }
}

::slotted(c-button:first-child) {
  --c-button-border-radius: 4px 0 0 4px;
}

::slotted(c-button:last-child) {
  --c-button-border-radius: 0 4px 4px 0;
}
