:host {
  --c-progress-bar-color: var(--c-primary-600);
  --c-progress-bar-background: var(--c-tertiary-200);
  --c-progress-bar-border-width: 4px;
  --c-progress-bar-height: 16px;
  --c-progress-bar-value: 0%;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.c-progress {
  $this: &;

  position: relative;
  background-color: var(--c-progress-bar-background);
  border-radius: var(--c-progress-bar-height);
  box-shadow: 0 0 0 var(--c-progress-bar-border-width) var(--c-progress-bar-background);
  flex-basis: 100%;
  height: calc(var(--c-progress-bar-height) - calc(var(--c-progress-bar-border-width) * 2));
  margin: var(--c-progress-bar-border-width);
  opacity: 0.75;
  overflow: hidden;
  transform: translateZ(0); // Safari - overflow: hidden & border-radius fix
  width: calc(100% - calc(var(--c-progress-bar-border-width) * 2));

  &.adjacent-details {
    flex: 1;
  }

  &__percentage {
    flex-basis: 100%;
    font-size: 14px;
    margin-top: 2px;
    text-align: end;
    white-space: nowrap;
    padding-left: 16px;

    &--negative {
      color: var(--c-error-600);
    }

    &.adjacent-details {
      flex: 0;
    }
  }

  progress {
    background-color: var(--c-progress-bar-color);
    border-radius: var(--c-progress-bar-height);
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    height: calc(var(--c-progress-bar-height) - calc(var(--c-progress-bar-border-width) * 2));
    position: absolute;
    border: none;

    @supports selector(:focus-within) {
      &:focus {
        outline: none;
      }
    }
  }

  &:focus-within {
    outline: 2px var(--c-primary-600) solid;
    outline-offset: 6px;
  }

  ::-webkit-progress-bar {
    background-color: transparent;
  }

  ::-webkit-progress-value {
    transition: width 0.3s ease-in-out;
    background-color: var(--c-progress-bar-color);
    border-radius: var(--c-progress-bar-height);
  }

  ::-moz-progress-bar {
    transition: padding-bottom 1s;
    padding-left: 60px;
    padding-bottom: var(--c-progress-bar-value);
    background-color: var(--c-progress-bar-color);
    height: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-60px);
  }

  /* Force indeterminate bars to have zero width */
  :indeterminate::-moz-progress-bar {
    width: 0;
  }

  &--indeterminate {
    &::before {
      content: '';
      position: absolute;
      background-color: var(--c-progress-bar-color);
      border-radius: var(--c-progress-bar-height);
      left: -100%;
      height: 100%;
      transform: translateX(var(--c-progress-bar-value, 0%));
      transition: transform 0.3s ease-in-out;
      animation: indeterminateAnimation 2s infinite linear;
      width: 50%;
      transform-origin: 0% 50%;
    }
  }
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(100%) scaleX(1);
  }
  30% {
    transform: translateX(170%) scaleX(1.75);
  }
  70% {
    transform: translateX(500%) scaleX(0.1);
  }
  100% {
    transform: translateX(500%) scaleX(0.1);
  }
}
