:host {
  --c-badge-background: var(--c-warning-600);
  --c-badge-color: var(--c-white);
  --c-badge-outline: var(--c-white);

  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--c-badge-background);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  height: 16px;
  color: var(--c-badge-color);
  position: absolute;
  right: -6px;
  font-size: 12px;
  box-shadow: 0 0 0 2px var(--c-badge-outline);
  top: -6px;
  padding: 0 4px;
  line-height: 1;
}
