:host {
  display: block;
  background: #ff5800;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  height: 16px;
  color: #fff;
  position: absolute;
  right: -6px;
  font-size: 12px;
  box-shadow: 0 0 0 2px #fff;
  top: -6px;
  padding: 0 4px;
  line-height: 1;
}
