:host {
  --c-accordion-item-text: var(--c-primary-600);
  --c-accordion-item-outline: var(--c-primary-600);
  --c-accordion-item-border: var(--c-primary-200);

  max-width: 100%;

  summary::-webkit-details-marker {
    display:none;
  }
}

.c-accordion-item {
  $this: &;

  --c-accordion-item-indicator-rotation: rotate(0deg);
  --c-accordion-item-content-height: 0px;
  --c-accordion-item-min-height: 46px;
  --c-accordion-item-border-radius: 6px;
  --c-accordion-item-padding: 12px;
  --c-accordion-item-overflow: visible;
  --c-accordion-item-outline-offset: 4px;

  display: block;
  overflow: var(--c-accordion-item-overflow);

  &--expanding {
    --c-accordion-item-overflow: hidden !important;
    --c-accordion-item-outline: transparent;
  }

  &--expanded {
    --c-accordion-item-content-height: auto;
    --c-accordion-item-indicator-rotation: rotate(90deg);
    --c-accordion-item-overflow: visible;
  }

  &--outlined {
    --c-accordion-item-min-height: 42px;
    --c-accordion-item-border-radius: 4px;
    --c-accordion-item-padding: 10px;
    --c-accordion-item-outline-offset: 6px;

    box-shadow: inset 0 0 0 2px var(--c-accordion-item-border);
    border-radius: 6px;
    padding: 2px;
  }

  &__header {
    min-height: var(--c-accordion-item-min-height);
    user-select: none;
    background: var(--c-accordion-item-border);
    display: grid;
    column-gap: 8px;
    align-items: center;
    padding: 0 var(--c-accordion-item-padding);
    border-radius: var(--c-accordion-item-border-radius);
    cursor: pointer;
    grid-template-columns: auto 1fr auto;
    gap: 8px;
    border: none;
    text-align: left;
    margin: 0;
    font-family: var(--c-font-family);
    position: relative;

    &:focus {
      outline: 2px var(--c-accordion-item-outline) solid;
      outline-offset: var(--c-accordion-item-outline-offset);
    }

    @supports selector(:focus-visible) {
      &:focus {
        outline: none;
      }
    }

    &:focus-visible {
      outline: 2px var(--c-accordion-item-outline) solid;
      outline-offset: var(--c-accordion-item-outline-offset);
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: var(--c-accordion-item-text);
  }

  &__content {
    padding: 16px;
  }

  &__content-wrapper {
    overflow: visible;
  }

  &__icon {
    height: 24px;
    font-size: 24px;
    color: var(--c-accordion-item-text);
    display: flex;
    align-items: center;

    > * {
      height: 24px;
      display: flex;
      align-items: center;
    }
  }

  &__indicator {
    display: flex;
    align-items: center;

    c-icon {
      fill: var(--c-accordion-item-text);
      width: 24px;
      height: 24px !important;
      transform: var(--c-accordion-item-indicator-rotation);
      transition: transform 0.3s ease;
    }
  }
}
