:root {
	--c-blue-100: #e5eaefff;
	--c-blue-200: #ccd5dfff;
	--c-blue-300: #99acbfff;
	--c-blue-400: #66829fff;
	--c-blue-500: #33597fff;
	--c-blue-600: #002f5fff;
	--c-blue-700: #00264cff;
	--c-blue-800: #001c39ff;
	--c-blue-900: #001326ff;
	--c-fuchsia-100: #f3e5eeff;
	--c-fuchsia-200: #e6ccdcff;
	--c-fuchsia-300: #cd99b9ff;
	--c-fuchsia-400: #b56697ff;
	--c-fuchsia-500: #9c3374ff;
	--c-fuchsia-600: #830051ff;
	--c-fuchsia-700: #690041ff;
	--c-fuchsia-800: #4f0031ff;
	--c-fuchsia-900: #340020ff;
	--c-green-100: #edf7e7ff;
	--c-green-200: #dceeceff;
	--c-green-300: #b9dc9cff;
	--c-green-400: #97cb6bff;
	--c-green-500: #74b939ff;
	--c-green-600: #51a808ff;
	--c-green-700: #418606ff;
	--c-green-800: #316505ff;
	--c-green-900: #204303ff;
	--c-grey-100: #eff0f1ff;
	--c-grey-200: #dfe1e3ff;
	--c-grey-300: #bfc3c6ff;
	--c-grey-400: #9ea6aaff;
	--c-grey-500: #7e888dff;
	--c-grey-600: #5e6a71ff;
	--c-grey-700: #4b555aff;
	--c-grey-800: #384044ff;
	--c-grey-900: #262a2dff;
	--c-light-blue-100: #e5f2f8ff;
	--c-light-blue-200: #cce6f1ff;
	--c-light-blue-300: #99cde4ff;
	--c-light-blue-400: #66b4d6ff;
	--c-light-blue-500: #339bc9ff;
	--c-light-blue-600: #0082bbff;
	--c-light-blue-700: #006896ff;
	--c-light-blue-800: #004e70ff;
	--c-light-blue-900: #00344bff;
	--c-orange-100: #ffeee5ff;
	--c-orange-200: #ffdeccff;
	--c-orange-300: #ffbc99ff;
	--c-orange-400: #ff9b66ff;
	--c-orange-500: #ff7933ff;
	--c-orange-600: #ff5800ff;
	--c-orange-700: #cc4600ff;
	--c-orange-800: #993500ff;
	--c-orange-900: #662300ff;
	--c-petrol-100: #e6f0f2ff;
	--c-petrol-200: #cce1e4ff;
	--c-petrol-300: #99c2c9ff;
	--c-petrol-400: #66a4aeff;
	--c-petrol-500: #338593ff;
	--c-petrol-600: #006778ff;
	--c-petrol-700: #005260ff;
	--c-petrol-800: #003e48ff;
	--c-petrol-900: #002930ff;
	--c-red-100: #f8e6e9ff;
	--c-red-200: #f1cdd4ff;
	--c-red-300: #e39ca9ff;
	--c-red-400: #d56a7fff;
	--c-red-500: #c73954ff;
	--c-red-600: #b90729ff;
	--c-red-700: #940621ff;
	--c-red-800: #6f0419ff;
	--c-red-900: #4a0310ff;
	--c-text-dark: #2e3438ff;
	--c-text-light: #ffffffff;
	--c-transparent: transparent;
	--c-turquoise-100: #e5f9f7ff;
	--c-turquoise-200: #ccf4f0ff;
	--c-turquoise-300: #99e9e0ff;
	--c-turquoise-400: #66ddd1ff;
	--c-turquoise-500: #33d2c1ff;
	--c-turquoise-600: #00c7b2ff;
	--c-turquoise-700: #009f8eff;
	--c-turquoise-800: #00776bff;
	--c-turquoise-900: #005047ff;
	--c-white: #ffffffff;
};
