:root {
	--csc-black: #000000ff;
	--csc-blue-50: #e8ecf0ff;
	--csc-blue-100: #d1d9e1ff;
	--csc-blue-200: #a3b3c3ff;
	--csc-blue-300: #748ca4ff;
	--csc-blue-400: #466686ff;
	--csc-blue-500: #184068ff;
	--csc-blue-600: #133353ff;
	--csc-blue-700: #0e263eff;
	--csc-blue-800: #0a1a2aff;
	--csc-blue-900: #050d15ff;
	--csc-blue-950: #02060aff;
	--csc-crimson-50: #f3e6eeff;
	--csc-crimson-100: #e6ccdcff;
	--csc-crimson-200: #cd99b9ff;
	--csc-crimson-300: #b56697ff;
	--csc-crimson-400: #9c3374ff;
	--csc-crimson-500: #830051ff;
	--csc-crimson-600: #690041ff;
	--csc-crimson-700: #4f0031ff;
	--csc-crimson-800: #340020ff;
	--csc-crimson-900: #1a0010ff;
	--csc-crimson-950: #0d0008ff;
	--csc-green-50: #eef6e6ff;
	--csc-green-100: #dceeceff;
	--csc-green-200: #b9dc9cff;
	--csc-green-300: #97cb6bff;
	--csc-green-400: #74b939ff;
	--csc-green-500: #51a808ff;
	--csc-green-600: #418606ff;
	--csc-green-700: #316505ff;
	--csc-green-800: #204303ff;
	--csc-green-900: #102202ff;
	--csc-green-950: #081101ff;
	--csc-grey-50: #eff0f1ff;
	--csc-grey-100: #dfe1e3ff;
	--csc-grey-200: #bfc3c6ff;
	--csc-grey-300: #9ea6aaff;
	--csc-grey-400: #7e888dff;
	--csc-grey-500: #5e6a71ff;
	--csc-grey-600: #4b555aff;
	--csc-grey-700: #384044ff;
	--csc-grey-800: #262a2dff;
	--csc-grey-900: #131517ff;
	--csc-grey-950: #090b0bff;
	--csc-light-blue-50: #e6f3f8ff;
	--csc-light-blue-100: #cce6f1ff;
	--csc-light-blue-200: #99cde4ff;
	--csc-light-blue-300: #66b4d6ff;
	--csc-light-blue-400: #339bc9ff;
	--csc-light-blue-500: #0082bbff;
	--csc-light-blue-600: #006896ff;
	--csc-light-blue-700: #004e70ff;
	--csc-light-blue-800: #00344bff;
	--csc-light-blue-900: #001a25ff;
	--csc-light-blue-950: #000d13ff;
	--csc-orange-50: #f9ede6ff;
	--csc-orange-100: #f4daccff;
	--csc-orange-200: #e9b599ff;
	--csc-orange-300: #dd9066ff;
	--csc-orange-400: #d26b33ff;
	--csc-orange-500: #c74600ff;
	--csc-orange-600: #9f3800ff;
	--csc-orange-700: #772a00ff;
	--csc-orange-800: #501c00ff;
	--csc-orange-900: #280e00ff;
	--csc-orange-950: #140700ff;
	--csc-purple-50: #e6eaefff;
	--csc-purple-100: #ccd5dfff;
	--csc-purple-200: #99acbfff;
	--csc-purple-300: #66829fff;
	--csc-purple-400: #33597fff;
	--csc-purple-500: #002f5fff;
	--csc-purple-600: #00264cff;
	--csc-purple-700: #001c39ff;
	--csc-purple-800: #001326ff;
	--csc-purple-900: #000913ff;
	--csc-purple-950: #000509ff;
	--csc-red-50: #f8e6eaff;
	--csc-red-100: #f1cdd4ff;
	--csc-red-200: #e39ca9ff;
	--csc-red-300: #d56a7fff;
	--csc-red-400: #c73954ff;
	--csc-red-500: #b90729ff;
	--csc-red-600: #940621ff;
	--csc-red-700: #6f0419ff;
	--csc-red-800: #4a0310ff;
	--csc-red-900: #250108ff;
	--csc-red-950: #120104ff;
	--csc-teal-50: #e6f0f2ff;
	--csc-teal-100: #cce1e4ff;
	--csc-teal-200: #99c2c9ff;
	--csc-teal-300: #66a4aeff;
	--csc-teal-400: #338593ff;
	--csc-teal-500: #006778ff;
	--csc-teal-600: #005260ff;
	--csc-teal-700: #003e48ff;
	--csc-teal-800: #002930ff;
	--csc-teal-900: #001518ff;
	--csc-teal-950: #000a0cff;
	--csc-text-dark: #2e3438ff;
	--csc-text-light: #ffffffff;
	--csc-turquoise-50: #e6f9f7ff;
	--csc-turquoise-100: #ccf4f0ff;
	--csc-turquoise-200: #99e9e0ff;
	--csc-turquoise-300: #66ddd1ff;
	--csc-turquoise-400: #33d2c1ff;
	--csc-turquoise-500: #00c7b2ff;
	--csc-turquoise-600: #009f8eff;
	--csc-turquoise-700: #00776bff;
	--csc-turquoise-800: #005047ff;
	--csc-turquoise-900: #002824ff;
	--csc-turquoise-950: #001412ff;
	--csc-white: #ffffffff;
};
