:host {
  /**
   * @prop --c-card-title-color: Card title color
   * @prop --c-card-title-underline-color: Card title underline color
   */
  --c-card-title-color: var(--c-text-system);
  --c-card-title-underline-color: var(--c-primary-600);

  color: var(--c-card-title-color);
  padding: 0 var(--c-card-gap, 24px);
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.c-card-title {
  &__underline {
    background-color: var(--c-card-title-underline-color);
    border-radius: 4px;
    height: 4px;
    margin-top: 10px;
    width: 44px;
  }
}
