:host {
  --c-icon-button-background: var(--c-primary-600);
  --c-icon-button-text: var(--c-white);
  --c-icon-button-hover: var(--c-primary-400);
  --c-icon-button-outline: var(--c-primary-600);

  display: block;
  position: relative;
  border-radius: 50%;
}

button.icon-button {
  font-family: var(--c-font-family);
  display: flex;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--c-icon-button-background);
  color: var(--c-icon-button-text);
  transition: background-color 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  line-height: normal;

  ::slotted(svg),
  ::slotted(c-icon),
  ::slotted(i),
  ::slotted(span) {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  ::slotted(*),
  svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background: var(--c-icon-button-hover);
  }

  &--small {
    width: 32px;
    height: 32px;

    ::slotted(c-icon) {
      width: 20px !important;
      height: 20px !important;
      font-size: 20px !important;
    }

    ::slotted(svg),
    ::slotted(i),
    ::slotted(span) {
      width: 22px !important;
      height: 22px !important;
      font-size: 16px !important;
    }
  }

  &--x-small {
    width: 28px;
    height: 28px;

    ::slotted(c-icon) {
      width: 14px !important;
      height: 14px !important;
      font-size: 14px !important;
    }

    ::slotted(svg),
    ::slotted(i),
    ::slotted(span) {
      width: 18px !important;
      height: 18px !important;
      font-size: 14px !important;
    }
  }

  &:focus {
    outline: 2px var(--c-icon-button-outline) solid;
    outline-offset: 2px;
  }

  @supports selector(:focus-visible) {
    &:focus {
      outline: none;
    }
  }

  &:focus-visible {
    outline: 2px var(--c-icon-button-outline) solid;
    outline-offset: 2px;
  }

  &.inverted {
    --c-icon-button-background: var(--c-white);
    --c-icon-button-text: var(--c-primary-600);
    --c-icon-button-hover: var(--c-primary-200);

    c-badge {
      --c-badge-outline: var(--c-primary-600);
    }
  }

  &.ghost {
    --c-icon-button-background: var(--c-primary-200);
    --c-icon-button-text: var(--c-primary-600);
    --c-icon-button-hover: var(--c-primary-100);

    &.inverted {
      --c-icon-button-text: var(--c-white);
      --c-icon-button-background: var(--c-primary-500);
      --c-icon-button-hover: var(--c-primary-400);
    }

    &.disabled {
      --c-icon-button-background: var(--c-tertiary-200);
      --c-icon-button-text: var(--c-tertiary-500);
      --c-icon-button-hover: var(--c-tertiary-100);
    }
  }

  &.text {
    --c-icon-button-text: var(--c-primary-600);
    --c-icon-button-background: var(--c-transparent);
    --c-icon-button-hover: var(--c-primary-100);

    &.inverted {
      --c-icon-button-text: var(--c-white);
      --c-icon-button-hover: var(--c-primary-500);
    }

    &.disabled {
      --c-icon-button-background: var(--c-transparent);
      --c-icon-button-hover: var(--c-transparent);
      --c-icon-button-text: var(--c-tertiary-400);
    }
  }

  &.outlined {
    --c-icon-button-text: var(--c-primary-600);
    --c-icon-button-background: var(--c-transparent);
    --c-icon-button-hover: var(--c-primary-100);

    box-shadow: inset 0 0 0 2px var(--c-icon-button-outline);

    &.disabled {
      --c-icon-button-text: var(--c-tertiary-500);
      --c-icon-button-background: var(--c-transparent);
      --c-icon-button-outline: var(--c-tertiary-400);
    }

    &.inverted {
      --c-icon-button-text: var(--c-white);
      --c-icon-button-background: var(--c-transparent);
      --c-icon-button-outline: var(--c-white);
      --c-icon-button-hover: var(--c-primary-500);

      &.disabled {
        --c-icon-button-text: var(--c-tertiary-400);
        --c-icon-button-background: var(--c-transparent);
        --c-icon-button-outline: var(--c-tertiary-400);
      }
    }
  }

  &.disabled {
    --c-icon-button-background: var(--c-tertiary-100);
    --c-icon-button-hover: var(--c-tertiary-100);
    --c-icon-button-text: var(--c-tertiary-600);
    --c-icon-button-outline: var(--c-tertiary-600);

    pointer-events: none;

    c-badge {
      --c-badge-background: var(--c-tertiary-400);
    }
  }
}

::slotted(*),
svg {
  pointer-events: none;
}

.inner-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 100%;
}

.ripple {
  transition: background 0.5s;
  background-position: center;
  position: absolute;
  border-radius: 50%;

  &:hover {
    background: rgba(255, 255, 255, 0)
      radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.15) 1%)
      center/15000%;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.25);
    background-size: 100%;
    transition: background 0s;
  }
}

.disabled .icon-button-badge {
  background: #acacac;
}

.outlined .ripple {
  &:hover {
    background: rgba(0, 103, 120, 0)
      radial-gradient(circle, transparent 1%, rgba(0, 103, 120, 0.05) 1%)
      center/15000%;
  }

  &:active {
    background-color: rgba(0, 103, 120, 0.15);
    background-size: 100%;
    transition: background 0s;
  }
}

.text .ripple {
  &:hover {
    background: rgba(0, 103, 120, 0)
      radial-gradient(circle, transparent 1%, rgba(0, 103, 120, 0.05) 1%)
      center/15000%;
  }

  &:active {
    background-color: rgba(0, 103, 120, 0.15);
    background-size: 100%;
    transition: background 0s;
  }
}

.ghost .ripple {
  &:hover {
    background: rgba(0, 103, 120, 0)
      radial-gradient(circle, transparent 1%, rgba(0, 103, 120, 0.05) 1%)
      center/15000%;
  }

  &:active {
    background-color: rgba(0, 103, 120, 0.15);
    background-size: 100%;
    transition: background 0s;
  }
}
