:host {
  --c-icon-button-background-color: var(--c-primary-600);
  --c-icon-button-text-color: var(--c-white);
  --c-icon-button-background-hover: var(--c-primary-400);
  --c-icon-button-outline-color: var(--c-primary-600);

  --c-icon-button-height: 40px;
  --c-icon-button-width: 40px;
  --c-icon-button-border-radius: 50%;

  display: block;
  position: relative;
  border-radius: var(--c-icon-button-border-radius);

  button {
    background-color: transparent;
    color: currentColor;
    display: inline-grid;
    place-items: center;
    border: none;
    padding: 0;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition:
      background-color 0.3s cubic-bezier(0.25, 0.8, 0.5, 1),
      color 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    outline: none;
    border-radius: var(--c-icon-button-border-radius);

    &:disabled {
      cursor: default;
    }
  }
}

:host(.c-icon-button) button {
  appearance: none;
}

:host(.c-icon-button) {
  font-family: var(--c-font-family);
  display: flex;
  border: none;
  padding: 0;
  width: var(--c-icon-button-width);
  height: var(--c-icon-button-height);
  background-color: var(--c-icon-button-background-color);
  color: var(--c-icon-button-text-color);
  transition: background-color 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  line-height: normal;

  ::slotted(svg),
  ::slotted(c-icon),
  ::slotted(i),
  ::slotted(span) {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  ::slotted(*),
  svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

:host(:host:hover) {
  background: var(--c-icon-button-background-hover);
}

:host(.c-icon-button--small) {
  --c-icon-button-height: 32px;
  --c-icon-button-width: 32px;

  ::slotted(c-icon) {
    width: 20px !important;
    height: 20px !important;
    font-size: 20px !important;
  }

  ::slotted(svg),
  ::slotted(i),
  ::slotted(span) {
    width: 22px !important;
    height: 22px !important;
    font-size: 16px !important;
  }
}

:host(.c-icon-button--x-small) {
  --c-icon-button-height: 28px;
  --c-icon-button-width: 28px;

  ::slotted(c-icon) {
    width: 14px !important;
    height: 14px !important;
    font-size: 14px !important;
  }

  ::slotted(svg),
  ::slotted(i),
  ::slotted(span) {
    width: 18px !important;
    height: 18px !important;
    font-size: 14px !important;
  }
}

:host(.c-icon-button) button:focus {
  outline: none;
}

:host(.c-icon-button) button:focus-visible {
  outline: 2px var(--c-icon-button-outline-color) solid;
  outline-offset: 2px;
}

:host(.c-icon-button--inverted) {
  --c-icon-button-background-color: var(--c-white);
  --c-icon-button-text-color: var(--c-primary-600);
  --c-icon-button-background-hover: var(--c-primary-200);

  c-badge {
    --c-badge-outline: var(--c-primary-600);
  }
}

:host(.c-icon-button--ghost) {
  --c-icon-button-background-color: var(--c-primary-200);
  --c-icon-button-text-color: var(--c-primary-600);
  --c-icon-button-background-hover: var(--c-primary-100);

  .ripple {
    &:hover {
      background: rgba(0, 103, 120, 0)
        radial-gradient(circle, transparent 1%, rgba(0, 103, 120, 0.05) 1%)
        center/15000%;
    }

    &:active {
      background-color: rgba(0, 103, 120, 0.15);
      background-size: 100%;
      transition: background 0s;
    }
  }
}

:host(.c-icon-button--ghost.c-icon-button--inverted) {
  --c-icon-button-text-color: var(--c-white);
  --c-icon-button-background-color: var(--c-primary-500);
  --c-icon-button-background-hover: var(--c-primary-400);
}

:host(.c-icon-button--ghost.c-icon-button--disabled) {
  --c-icon-button-background-color: var(--c-tertiary-200);
  --c-icon-button-text-color: var(--c-tertiary-500);
  --c-icon-button-background-hover: var(--c-tertiary-100);
}

:host(.c-icon-button--text) {
  --c-icon-button-text-color: var(--c-primary-600);
  --c-icon-button-background-color: var(--c-transparent);
  --c-icon-button-background-hover: var(--c-primary-100);

  .ripple {
    &:hover {
      background: rgba(0, 103, 120, 0)
        radial-gradient(circle, transparent 1%, rgba(0, 103, 120, 0.05) 1%)
        center/15000%;
    }

    &:active {
      background-color: rgba(0, 103, 120, 0.15);
      background-size: 100%;
      transition: background 0s;
    }
  }
}

:host(.c-icon-button--text.c-icon-button--inverted) {
  --c-icon-button-text-color: var(--c-white);
  --c-icon-button-background-hover: var(--c-primary-500);
}

:host(.c-icon-button--text.c-icon-button--disabled) {
  --c-icon-button-background-color: var(--c-transparent);
  --c-icon-button-background-hover: var(--c-transparent);
  --c-icon-button-text-color: var(--c-tertiary-400);
}

:host(.c-icon-button--outlined) {
  --c-icon-button-text-color: var(--c-primary-600);
  --c-icon-button-background-color: var(--c-transparent);
  --c-icon-button-background-hover: var(--c-primary-100);

  box-shadow: inset 0 0 0 2px var(--c-icon-button-outline-color);

  .ripple {
    &:hover {
      background: rgba(0, 103, 120, 0)
        radial-gradient(circle, transparent 1%, rgba(0, 103, 120, 0.05) 1%)
        center/15000%;
    }

    &:active {
      background-color: rgba(0, 103, 120, 0.15);
      background-size: 100%;
      transition: background 0s;
    }
  }
}

:host(.c-icon-button--outlined.c-icon-button--disabled) {
  --c-icon-button-text-color: var(--c-tertiary-500);
  --c-icon-button-background-color: var(--c-transparent);
  --c-icon-button-outline-color: var(--c-tertiary-400);
}

:host(.c-icon-button--outlined.c-icon-button--inverted) {
  --c-icon-button-text-color: var(--c-white);
  --c-icon-button-background-color: var(--c-transparent);
  --c-icon-button-outline-color: var(--c-white);
  --c-icon-button-background-hover: var(--c-primary-500);
}

:host(.c-icon-button--outlined.c-icon-button--disabled) {
  --c-icon-button-text-color: var(--c-tertiary-400);
  --c-icon-button-background-color: var(--c-transparent);
  --c-icon-button-outline-color: var(--c-tertiary-400);
}

:host(.c-icon-button--disabled) {
  --c-icon-button-background-color: var(--c-tertiary-100);
  --c-icon-button-background-hover: var(--c-tertiary-100);
  --c-icon-button-text-color: var(--c-tertiary-600);
  --c-icon-button-outline-color: var(--c-tertiary-600);

  pointer-events: none;

  c-badge {
    --c-badge-background: var(--c-tertiary-400);
  }

  .icon-button-badge {
    background: #acacac;
  }
}


::slotted(*),
svg {
  pointer-events: none;
}

.inner-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 100%;
}

.ripple {
  transition: background 0.5s;
  background-position: center;
  position: absolute;
  border-radius: 50%;

  &:hover {
    background: rgba(255, 255, 255, 0)
      radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.15) 1%)
      center/15000%;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.25);
    background-size: 100%;
    transition: background 0s;
  }
}
