:host {
  /**
   * @prop --c-icon-color: Color of the icon
   */
  --c-icon-color: var(--c-icon-default-color, currentcolor);

  display: inline-flex;
  align-items: center;

  svg {
    path {
      fill: var(--c-icon-color, currentColor);
    }
  }
}
