:host {
  /**
   * @prop --c-radio-group-color: Radio button color
   * @prop --c-radio-group-active-color: Active radio button color
   * @prop --c-radio-group-background-color-hover: Radio button hover background color
   * @prop --c-radio-group-disabled-color: Disabled radio button color
   */
  --c-radio-group-color: var(--c-primary-600);
  --c-radio-group-active-color: var(--c-radio-group-color);
  --c-radio-group-background-color-hover: rgba(var(--c-primary-rgb), 0.1);
  --c-radio-group-disabled-color: var(--c-tertiary-500);

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.c-radio-group {
  --c-radio-group-error: var(--c-error-600);
  --c-radio-flex-direction: column;
  --c-radio-item-gap: 2px;

  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;

  &__items {
    display: flex;
    flex-direction: var(--c-radio-flex-direction);
    flex-wrap: wrap;
    gap: var(--c-radio-item-gap);
  }

  &__label {
    span.required {
      color: var(--c-radio-group-error);
    }
  }

  &--disabled {
    --c-radio-group-color: var(--c-radio-group-disabled-color);
    --c-radio-group-error: var(--c-radio-group-disabled-color);

    color: var(--c-radio-group-disabled-color);
    cursor: default;
    opacity: 0.75;
  }

  &--error {
    --c-radio-group-color: var(--c-radio-group-error);

    color: var(--c-radio-group-error);
  }

  &--inline {
    --c-radio-flex-direction: row;
    --c-radio-item-gap: 12px;
  }
}

.c-radio {
  $this: &;

  align-items: flex-start;
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  gap: 4px;
  line-height: 1.2;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .ripple .selection {
      &::after {
        display: block;
        transform: scale(1);
      }
    }
  }

  .ripple {
    position: relative;
    height: 42px;
    width: 42px;
    min-width: 42px;
    border-radius: 50%;
    overflow: hidden;
    transition: translateZ(0);
    color: var(--c-radio-group-color);
  }

  .selection {
    position: absolute;
    top: 11px;
    left: 11px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--c-radio-group-color);
    border-radius: 50%;
    transition: box-shadow 0.15s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      transform: scale(0);
      transition: transform 0.15s ease-in-out;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--c-radio-group-active-color);
    }
  }

  &__details {
    line-height: 1;
    padding: 0 12px;

    &.active {
      #{$this} {
        &__message {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

  &__message {
    font-size: 12px;
    opacity: 0;
    transform: translateY(-4px);
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);

    &--hint {
      color: var(--c-tertiary-500);
    }

    &--error {
      color: var(--c-radio-group-error) !important;
    }

    span {
      align-items: flex-start;
      display: flex;
      gap: 4px;
      height: 16px;

      &.error {
        color: var(--c-radio-group-error);
      }

      &.hint {
        color: var(--c-tertiary-500);
      }
    }

    svg {
      fill: currentColor;
      min-height: 16px;
      min-width: 16px;
      position: relative;
      top: -2px;
    }
  }

  &__label {
    padding-top: 12px;
  }

  &--disabled {
    --c-radio-group-color: var(--c-radio-group-disabled-color);
    --c-radio-group-active-color: var(--c-radio-group-disabled-color);

    color: var(--c-radio-group-color);
    cursor: default;
    opacity: 0.75;
  }

  &--error {
    --c-radio-group-color: var(--c-radio-group-error);

    color: var(--c-radio-group-error);

    span,
    svg {
      fill: var(--c-radio-group-error);
      color: var(--c-radio-group-error);
    }
  }

  input:focus {
    outline: none;
  }

  input:focus + .ripple {
    outline: 2px var(--c-radio-group-active-color) solid;
  }

  @supports selector(:focus-visible) {
    input:focus + .ripple {
      outline: none;
    }
  }

  input:focus-visible + .ripple {
    outline: 2px var(--c-radio-group-color) solid;
  }

  &:not(.c-radio--disabled) {
    .ripple:hover {
      background-color: var(--c-radio-group-background-color-hover);
    }
  }
}
