:host {
  --c-data-table-border: var(--c-tertiary-200);
  --c-data-table-hover: var(--c-primary-100);
  --c-data-table-active: var(--c-primary-600);

  display: block;
  position: relative;
  width: 100%;
}

:host([horizontal-scrolling]) {
  overflow-x: scroll;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.c-data-table {
  box-shadow: inset 0 0 0 1px var(--c-data-table-border);
  width: 100%;

  .children {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;

    pre {
      font-family: inherit;
      white-space: pre-wrap;
    }
  }

  [data-justify='end'],
  [data-align='end'] .children {
    align-items: flex-end;
  }

  [data-justify='start'],
  [data-align='start'] .children {
    align-items: flex-start;
  }

  [data-justify='center'],
  [data-align='center'] .children {
    align-items: center;
  }

  [data-align='end'],
  [data-justify='end'] .children {
    justify-content: flex-end;
  }

  [data-align='start'],
  [data-justify='start'] .children {
    justify-content: flex-start;
  }

  [data-align='center'],
  [data-justify='center'] .children {
    justify-content: center;
  }

  th,
  td {
    font-weight: 400;

    > div {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      line-height: normal;
      padding: 12px;
      width: 100%;
    }
  }

  th {
    font-size: 14px;
    padding: 4px;

    &.selection {
      width: 56px;
    }

    &.indicator {
      width: 46px;
    }

    > div {
      border-radius: 4px;
      flex-wrap: nowrap;
      gap: 8px;
      height: 48px;
      white-space: nowrap;

      &.sortable:hover {
        background-color: var(--c-data-table-hover);
        color: var(--c-data-table-active);
        cursor: pointer;

        svg {
          fill: var(--c-data-table-active);
        }
      }

      &.selection {
        &--heading {
          padding-left: 8px;
          padding-right: 0;
          margin-right: -8px;
        }
      }
    }
  }

  td {
    font-size: 16px;

    > div {
      align-items: flex-start;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
      min-height: 56px;
      padding: 12px;

      &.selection {
        margin-right: -4px;
        padding: 7px 0 7px 12px;
      }

      c-tag {
        --c-tag-margin: 0px;
      }
    }

    &.loader {
      background-color: var(--c-data-table-border);
      height: 2px;
      position: relative;

      > div {
        height: 2px;
        min-height: auto;
        padding: 0;
      }
    }

    &.info {
      > div {
        height: 108px;
        justify-content: center;
      }
    }

    svg {
      transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }
  }

  thead {
    background-color: var(--c-white);
    position: relative;

    &.sticky {
      box-shadow: 0 2px 0 0 var(--c-data-table-border);
      position: sticky;
      top: 0;
      z-index: 3;
    }

    .c-data-table__header-indicators {
      pointer-events: none;

      th {
        > div {
          margin-top: -56px;
          display: flex;
          justify-items: space-between;
        }
      }

      c-icon-button {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 50%;
        pointer-events: all;
      }
    }
  }

  tfoot {
    background-color: var(--c-white);

    tr {
      box-shadow: inset 0 1px 0 0 var(--c-data-table-border);
    }

    td {
      > div {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        min-height: 48px;
      }

      c-pagination {
        flex: 1;
      }
    }
  }

  tbody {
    /* Safari box shadow replacement */
    @supports (-webkit-hyphens: none) {
      tr {
        border-bottom: 1px solid var(--c-data-table-border);
      }
    }

    tr {
      box-shadow: inset 0 1px 0 0 var(--c-data-table-border);

      &.actions {
        box-shadow: none;

        td > div {
          background-color: rgba(0, 0, 0, 0.015);
          height: auto;
        }
      }

      &.active {
        box-shadow: inset 2px 0 0 var(--c-data-table-active),
          inset -2px 0 0 var(--c-data-table-active),
          inset 0 2px 0 var(--c-data-table-active);
        border-radius: 6px 6px 0 0;

        svg {
          transform: rotate(180deg);
        }

        + .additional-data {
          border-radius: 0 0 6px 6px;
          box-shadow: inset 2px 0 0 var(--c-data-table-active),
            inset -2px 0 0 var(--c-data-table-active),
            inset 0 -2px 0 var(--c-data-table-active);
        }

        &.selected {
          box-shadow: inset 4px 0 0 var(--c-data-table-active),
            inset -2px 0 0 var(--c-data-table-active),
            inset 0 2px 0 var(--c-data-table-active);
        }
      }

      &.selected {
        background-color: var(--c-primary-100);
        box-shadow: inset 4px 0 0 var(--c-data-table-active),
          inset 0 1px 0 0 var(--c-data-table-border);

        + .additional-data {
          box-shadow: inset 4px 0 0 var(--c-data-table-active),
            inset -2px 0 0 var(--c-data-table-active),
            inset 0 -2px 0 var(--c-data-table-active);
        }
      }
    }
  }

  &__loader {
    background-color: var(--c-data-table-border);
    height: 2px;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  .loading-bar {
    animation: loading 1s ease-in 0.5s infinite;
    background-color: var(--c-data-table-active);
    height: 100%;
    left: -50%;
    position: absolute;
    width: 50%;
  }

  @keyframes loading {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(400%);
    }
  }

  .additional-data {
    display: none;

    &.active {
      display: table-row;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        padding: 12px;

        &:not(:last-child) {
          box-shadow: inset 0 -1px 0 0 var(--c-tertiary-200);
        }

        span {
          color: var(--c-data-table-active);
          font-weight: 600;
        }

        .title {
          display: flex;
          gap: 8px;

          + .children {
            margin-top: 8px;
          }
        }
      }
    }
  }

  &--scrollable {
    position: relative;
  }

  &--hoverable {
    tbody {
      tr:not(.additional-data) {
        cursor: pointer;

        &:hover {
          background-color: var(--c-data-table-hover);
          border-radius: 6px;
          box-shadow: inset 0 0 0 2px var(--c-data-table-active);
          overflow: hidden;

          c-button.text,
          c-button.ghost {
            --c-button-hover: var(--c-primary-200);
          }
        }

        &.active:hover {
          border-radius: 6px 6px 0 0;
          box-shadow: inset 2px 0 0 var(--c-data-table-active),
            inset -2px 0 0 var(--c-data-table-active),
            inset 0 2px 0 var(--c-data-table-active);
        }

        &.selected.active:hover {
          border-radius: 6px 6px 0 0;
          box-shadow: inset 4px 0 0 var(--c-data-table-active),
            inset -2px 0 0 var(--c-data-table-active),
            inset 0 2px 0 var(--c-data-table-active);
        }

        &.selected:hover {
          border-radius: 6px;
          box-shadow: inset 4px 0 0 var(--c-data-table-active),
            inset 0 0 0 2px var(--c-data-table-active);
        }
      }
    }
  }
}

.sorted-column {
  background-color: rgb(0 103 120 / 5%);
}
